In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import os
%matplotlib inline
warnings.filterwarnings('ignore')

In [15]:
import pandas

csvfile = pandas.DataFrame()
for file in os.listdir(os.getcwd()):
    if file.endswith('.csv'):
        csvfile = csvfile.append(pandas.read_csv(file))

csvfile.to_csv('detail.csv')

In [16]:
df = pd.read_csv('detail.csv')
df.head()

,Unnamed: 0,Record Index,Status,JumpTo,Cycle,Step,Cur(mA),Voltage(V),CapaCity(mAh),Energy(mWh),Relative Time(h:min:s.ms),Absolute Time
0,0,1,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:00.000,10-10-2020 20:03:39
1,1,2,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:01.000,10-10-2020 20:03:40
2,2,3,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:02.000,10-10-2020 20:03:41
3,3,4,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:03.000,10-10-2020 20:03:42
4,4,5,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:04.000,10-10-2020 20:03:43

In [17]:
df.describe()

,Unnamed: 0,Record Index,JumpTo,Cycle,Step,Cur(mA),Voltage(V),CapaCity(mAh),Energy(mWh)
count,416681.000000,416681.000000,416681.000000,416681.000000,416681.000000,416681.000000,416681.000000,416681.000000,416681.000000
mean,31582.299781,218913.396433,53.152028,10.785193,42.853843,-1.656914,3.857879,1215.217266,4701.319813
std,19074.662626,134519.705795,29.477399,5.545429,21.876545,791.885743,0.274539,773.412135,3007.652270
min,0.000000,1.000000,1.000000,1.000000,1.000000,-870.500000,2.789800,0.000000,0.000000
25%,14881.000000,104171.000000,27.000000,6.000000,23.000000,-870.100000,3.695400,525.907000,2033.746000
50%,30811.000000,208341.000000,52.000000,11.000000,43.000000,104.500000,3.891000,1225.524000,4721.344000
75%,48173.000000,354464.000000,82.000000,16.000000,62.000000,870.500000,4.058400,1925.788000,7400.260000
max,65534.000000,458634.000000,108.000000,21.000000,83.000000,870.900000,4.200700,2383.974000,9492.772000

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416681 entries, 0 to 416680
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 416681 non-null  int64
 1   Record Index               416681 non-null  int64
 2   Status                     416681 non-null  object
 3   JumpTo                     416681 non-null  int64
 4   Cycle                      416681 non-null  int64
 5   Step                       416681 non-null  int64
 6   Cur(mA)                    416681 non-null  float64
 7   Voltage(V)                 416681 non-null  float64
 8   CapaCity(mAh)              416681 non-null  float64
 9   Energy(mWh)                416681 non-null  float64
 10  Relative Time(h:min:s.ms)  416681 non-null  object
 11  Absolute Time              416681 non-null  object
dtypes: float64(4), int64(5), object(3)
memory usage: 38.1+ MB

In [19]:
df.apply(lambda x: len(x.unique()))

Unnamed: 0                    65535
Record Index                 416681
Status                            3
JumpTo                           83
Cycle                            21
Step                             83
Cur(mA)                        3223
Voltage(V)                     4432
CapaCity(mAh)                263986
Energy(mWh)                  383234
Relative Time(h:min:s.ms)     11928
Absolute Time                416567
dtype: int64

In [20]:
df.isnull().sum()

Unnamed: 0                   0
Record Index                 0
Status                       0
JumpTo                       0
Cycle                        0
Step                         0
Cur(mA)                      0
Voltage(V)                   0
CapaCity(mAh)                0
Energy(mWh)                  0
Relative Time(h:min:s.ms)    0
Absolute Time                0
dtype: int64

In [21]:
cat_col = []
for x in df.dtypes.index:
    if df.dtypes[x] == 'object':
        cat_col.append(x)
cat_col

['Status', 'Relative Time(h:min:s.ms)', 'Absolute Time']

In [22]:
for col in cat_col:
    print(col)
    print(df[col].value_counts())
    print()

Status
CCCV_Chg     213706
CCCV_DChg    179526
Rest          23449
Name: Status, dtype: int64

Relative Time(h:min:s.ms)
0:00:01.000    82
0:00:00.000    82
0:00:02.000    79
0:00:03.000    79
0:00:04.000    79
               ..
3:17:41.000     1
3:16:52.000     1
3:16:42.000     1
3:17:24.000     1
3:17:43.000     1
Name: Relative Time(h:min:s.ms), Length: 11928, dtype: int64

Absolute Time
10-12-2020 07:24:11    3
10-11-2020 15:16:24    3
10-15-2020 11:22:23    3
10-10-2020 20:10:12    3
10-11-2020 21:37:28    3
                      ..
10-12-2020 16:24:58    1
10-12-2020 02:09:56    1
10-11-2020 06:28:29    1
10-15-2020 12:17:45    1
10-15-2020 20:56:59    1
Name: Absolute Time, Length: 416567, dtype: int64

In [26]:
df = pd.read_csv('detail.csv')
# Convert to datetime
df['time'] = pd.to_datetime(df['Absolute Time'])
# Resampling down to 0.1Hz
df = df.resample('10s', on='time').first()
df

,Unnamed: 0,Record Index,Status,JumpTo,Cycle,Step,Cur(mA),Voltage(V),CapaCity(mAh),Energy(mWh),Relative Time(h:min:s.ms),Absolute Time,time
time,,,,,,,,,,,,,
2020-10-10 20:03:30,0.0,1.0,Rest,1.0,1.0,1.0,0.0,3.5900,0.000,0.000,0:00:00.000,10-10-2020 20:03:39,2020-10-10 20:03:39
2020-10-10 20:03:40,1.0,2.0,Rest,1.0,1.0,1.0,0.0,3.5900,0.000,0.000,0:00:01.000,10-10-2020 20:03:40,2020-10-10 20:03:40
2020-10-10 20:03:50,13.0,14.0,CCCV_DChg,3.0,1.0,3.0,-870.1,3.4902,1.208,4.224,0:00:05.000,10-10-2020 20:03:50,2020-10-10 20:03:50
2020-10-10 20:04:00,23.0,24.0,CCCV_DChg,3.0,1.0,3.0,-870.1,3.4765,3.625,12.643,0:00:15.000,10-10-2020 20:04:00,2020-10-10 20:04:00
2020-10-10 20:04:10,33.0,34.0,CCCV_DChg,3.0,1.0,3.0,-870.1,3.4647,6.042,21.030,0:00:25.000,10-10-2020 20:04:10,2020-10-10 20:04:10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-16 03:24:50,23421.0,458585.0,Rest,108.0,21.0,83.0,0.0,3.5856,0.000,0.000,0:09:11.000,10-16-2020 03:24:50,2020-10-16 03:24:50
2020-10-16 03:25:00,23431.0,458595.0,Rest,108.0,21.0,83.0,0.0,3.5856,0.000,0.000,0:09:21.000,10-16-2020 03:25:00,2020-10-16 03:25:00
2020-10-16 03:25:10,23441.0,458605.0,Rest,108.0,21.0,83.0,0.0,3.5856,0.000,0.000,0:09:31.000,10-16-2020 03:25:10,2020-10-16 03:25:10
2020-10-16 03:25:20,23451.0,458615.0,Rest,108.0,21.0,83.0,0.0,3.5853,0.000,0.000,0:09:41.000,10-16-2020 03:25:20,2020-10-16 03:25:20
2020-10-16 03:25:30,23461.0,458625.0,Rest,108.0,21.0,83.0,0.0,3.5856,0.000,0.000,0:09:51.000,10-16-2020 03:25:30,2020-10-16 03:25:30