In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import os
%matplotlib inline
warnings.filterwarnings('ignore')

In [15]:
import pandas

csvfile = pandas.DataFrame()
for file in os.listdir(os.getcwd()):
    if file.endswith('.csv'):
        csvfile = csvfile.append(pandas.read_csv(file))

csvfile.to_csv('detail.csv')

In [16]:
df = pd.read_csv('detail.csv')
df.head()

,Unnamed: 0,Record Index,Status,JumpTo,Cycle,Step,Cur(mA),Voltage(V),CapaCity(mAh),Energy(mWh),Relative Time(h:min:s.ms),Absolute Time
0,0,1,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:00.000,10-10-2020 20:03:39
1,1,2,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:01.000,10-10-2020 20:03:40
2,2,3,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:02.000,10-10-2020 20:03:41
3,3,4,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:03.000,10-10-2020 20:03:42
4,4,5,Rest,1,1,1,0.0,3.59,0.0,0.0,0:00:04.000,10-10-2020 20:03:43

In [17]:
df.describe()

,Unnamed: 0,Record Index,JumpTo,Cycle,Step,Cur(mA),Voltage(V),CapaCity(mAh),Energy(mWh)
count,416681.000000,416681.000000,416681.000000,416681.000000,416681.000000,416681.000000,416681.000000,416681.000000,416681.000000
mean,31582.299781,218913.396433,53.152028,10.785193,42.853843,-1.656914,3.857879,1215.217266,4701.319813
std,19074.662626,134519.705795,29.477399,5.545429,21.876545,791.885743,0.274539,773.412135,3007.652270
min,0.000000,1.000000,1.000000,1.000000,1.000000,-870.500000,2.789800,0.000000,0.000000
25%,14881.000000,104171.000000,27.000000,6.000000,23.000000,-870.100000,3.695400,525.907000,2033.746000
50%,30811.000000,208341.000000,52.000000,11.000000,43.000000,104.500000,3.891000,1225.524000,4721.344000
75%,48173.000000,354464.000000,82.000000,16.000000,62.000000,870.500000,4.058400,1925.788000,7400.260000
max,65534.000000,458634.000000,108.000000,21.000000,83.000000,870.900000,4.200700,2383.974000,9492.772000

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416681 entries, 0 to 416680
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 416681 non-null  int64
 1   Record Index               416681 non-null  int64
 2   Status                     416681 non-null  object
 3   JumpTo                     416681 non-null  int64
 4   Cycle                      416681 non-null  int64
 5   Step                       416681 non-null  int64
 6   Cur(mA)                    416681 non-null  float64
 7   Voltage(V)                 416681 non-null  float64
 8   CapaCity(mAh)              416681 non-null  float64
 9   Energy(mWh)                416681 non-null  float64
 10  Relative Time(h:min:s.ms)  416681 non-null  object
 11  Absolute Time              416681 non-null  object
dtypes: float64(4), int64(5), object(3)
memory usage: 38.1+ MB

In [19]:
df.apply(lambda x: len(x.unique()))

Unnamed: 0                    65535
Record Index                 416681
Status                            3
JumpTo                           83
Cycle                            21
Step                             83
Cur(mA)                        3223
Voltage(V)                     4432
CapaCity(mAh)                263986
Energy(mWh)                  383234
Relative Time(h:min:s.ms)     11928
Absolute Time                416567
dtype: int64

In [20]:
df.isnull().sum()

Unnamed: 0                   0
Record Index                 0
Status                       0
JumpTo                       0
Cycle                        0
Step                         0
Cur(mA)                      0
Voltage(V)                   0
CapaCity(mAh)                0
Energy(mWh)                  0
Relative Time(h:min:s.ms)    0
Absolute Time                0
dtype: int64

In [21]:
cat_col = []
for x in df.dtypes.index:
    if df.dtypes[x] == 'object':
        cat_col.append(x)
cat_col

['Status', 'Relative Time(h:min:s.ms)', 'Absolute Time']

In [22]:
for col in cat_col:
    print(col)
    print(df[col].value_counts())
    print()

Status
CCCV_Chg     213706
CCCV_DChg    179526
Rest          23449
Name: Status, dtype: int64

Relative Time(h:min:s.ms)
0:00:01.000    82
0:00:00.000    82
0:00:02.000    79
0:00:03.000    79
0:00:04.000    79
               ..
3:17:41.000     1
3:16:52.000     1
3:16:42.000     1
3:17:24.000     1
3:17:43.000     1
Name: Relative Time(h:min:s.ms), Length: 11928, dtype: int64

Absolute Time
10-12-2020 07:24:11    3
10-11-2020 15:16:24    3
10-15-2020 11:22:23    3
10-10-2020 20:10:12    3
10-11-2020 21:37:28    3
                      ..
10-12-2020 16:24:58    1
10-12-2020 02:09:56    1
10-11-2020 06:28:29    1
10-15-2020 12:17:45    1
10-15-2020 20:56:59    1
Name: Absolute Time, Length: 416567, dtype: int64

In [27]:
df = pd.read_csv('detail.csv')
# Convert to datetime
df['time'] = pd.to_datetime(df['Absolute Time'])
# Resampling down to 1Hz
df = df.resample('60s', on='time').first()
df.to_csv(path_or_buf="detailDownsampled.csv",index=False)
df

,Unnamed: 0,Record Index,Status,JumpTo,Cycle,Step,Cur(mA),Voltage(V),CapaCity(mAh),Energy(mWh),Relative Time(h:min:s.ms),Absolute Time,time
time,,,,,,,,,,,,,
2020-10-10 20:03:00,0.0,1.0,Rest,1.0,1.0,1.0,0.0,3.5900,0.000,0.000,0:00:00.000,10-10-2020 20:03:39,2020-10-10 20:03:39
2020-10-10 20:04:00,23.0,24.0,CCCV_DChg,3.0,1.0,3.0,-870.1,3.4765,3.625,12.643,0:00:15.000,10-10-2020 20:04:00,2020-10-10 20:04:00
2020-10-10 20:05:00,83.0,84.0,CCCV_DChg,3.0,1.0,3.0,-870.1,3.4170,18.127,62.603,0:01:15.000,10-10-2020 20:05:00,2020-10-10 20:05:00
2020-10-10 20:06:00,143.0,144.0,CCCV_DChg,3.0,1.0,3.0,-870.1,3.3627,32.629,111.767,0:02:15.000,10-10-2020 20:06:00,2020-10-10 20:06:00
2020-10-10 20:07:00,203.0,204.0,CCCV_DChg,3.0,1.0,3.0,-870.1,3.2995,47.131,160.091,0:03:15.000,10-10-2020 20:07:00,2020-10-10 20:07:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-16 03:21:00,23191.0,458355.0,Rest,108.0,21.0,83.0,0.0,3.5859,0.000,0.000,0:05:21.000,10-16-2020 03:21:00,2020-10-16 03:21:00
2020-10-16 03:22:00,23251.0,458415.0,Rest,108.0,21.0,83.0,0.0,3.5856,0.000,0.000,0:06:21.000,10-16-2020 03:22:00,2020-10-16 03:22:00
2020-10-16 03:23:00,23311.0,458475.0,Rest,108.0,21.0,83.0,0.0,3.5856,0.000,0.000,0:07:21.000,10-16-2020 03:23:00,2020-10-16 03:23:00
2020-10-16 03:24:00,23371.0,458535.0,Rest,108.0,21.0,83.0,0.0,3.5856,0.000,0.000,0:08:21.000,10-16-2020 03:24:00,2020-10-16 03:24:00
2020-10-16 03:25:00,23431.0,458595.0,Rest,108.0,21.0,83.0,0.0,3.5856,0.000,0.000,0:09:21.000,10-16-2020 03:25:00,2020-10-16 03:25:00

In [28]:
csvfile = pandas.DataFrame()
for file in os.listdir(os.getcwd()):
    if file.endswith('.csv'):
        csvfile = csvfile.append(pandas.read_csv(file))

csvfile.to_csv('detailVol.csv')

In [30]:
df2 = pd.read_csv('detailVol.csv')
df2.head()

,Unnamed: 0,Record ID,Step Name,Relative Time(h:min:s.ms),Realtime,Auxiliary channel TU1 U(V),Gap of Voltage
0,0,1,Rest,0:00:00.000,10-10-2020 20:03:39,-0.0013,0.0
1,1,2,Rest,0:00:01.000,10-10-2020 20:03:40,-0.0013,0.0
2,2,3,Rest,0:00:02.000,10-10-2020 20:03:41,-0.0013,0.0
3,3,4,Rest,0:00:03.000,10-10-2020 20:03:42,-0.0013,0.0
4,4,5,Rest,0:00:04.000,10-10-2020 20:03:43,-0.0012,0.0

In [35]:
cat_col = []
for x in df2.dtypes.index:
    if df2.dtypes[x] == 'object':
        cat_col.append(x)
cat_col

['Step Name', 'Relative Time(h:min:s.ms)', 'Realtime']

In [37]:
df2 = pd.read_csv('detailVol.csv')
# Convert to datetime
df2['time'] = pd.to_datetime(df2['Realtime'])
# Resampling down to 1Hz
df2 = df2.resample('60s', on='time').first()
df2.to_csv(path_or_buf="detailVolDownsampled.csv",index=False)
df2

,Unnamed: 0,Record ID,Step Name,Relative Time(h:min:s.ms),Realtime,Auxiliary channel TU1 U(V),Gap of Voltage,time
time,,,,,,,,
2020-10-10 20:03:00,0.0,1.0,Rest,0:00:00.000,10-10-2020 20:03:39,-0.0013,0.0,2020-10-10 20:03:39
2020-10-10 20:04:00,23.0,24.0,CCCV_DChg,0:00:15.000,10-10-2020 20:04:00,-0.0013,0.0,2020-10-10 20:04:00
2020-10-10 20:05:00,83.0,84.0,CCCV_DChg,0:01:15.000,10-10-2020 20:05:00,-0.0013,0.0,2020-10-10 20:05:00
2020-10-10 20:06:00,143.0,144.0,CCCV_DChg,0:02:15.000,10-10-2020 20:06:00,-0.0013,0.0,2020-10-10 20:06:00
2020-10-10 20:07:00,203.0,204.0,CCCV_DChg,0:03:15.000,10-10-2020 20:07:00,-0.0013,0.0,2020-10-10 20:07:00
...,...,...,...,...,...,...,...,...
2020-10-16 03:21:00,23191.0,458355.0,Rest,0:05:21.000,10-16-2020 03:21:00,-0.0012,0.0,2020-10-16 03:21:00
2020-10-16 03:22:00,23251.0,458415.0,Rest,0:06:21.000,10-16-2020 03:22:00,-0.0012,0.0,2020-10-16 03:22:00
2020-10-16 03:23:00,23311.0,458475.0,Rest,0:07:21.000,10-16-2020 03:23:00,-0.0012,0.0,2020-10-16 03:23:00
2020-10-16 03:24:00,23371.0,458535.0,Rest,0:08:21.000,10-16-2020 03:24:00,-0.0012,0.0,2020-10-16 03:24:00
2020-10-16 03:25:00,23431.0,458595.0,Rest,0:09:21.000,10-16-2020 03:25:00,-0.0012,0.0,2020-10-16 03:25:00

In [55]:
import numpy as np
from scipy.signal import butter,filtfilt
# Filter requirements.
T = 5.0         # Sample Period
fs = 30.0       # sample rate, Hz
cutoff = 2      # desired cutoff frequency of the filter, Hz ,      slightly higher than actual 1.2 Hz
nyq = 0.5 * fs  # Nyquist Frequency
order = 2       # sin wave can be approx represented as quadratic
n = int(T * fs) # total number of samples

In [62]:
df2.describe()

         Unnamed: 0      Record ID  Auxiliary channel TU1 U(V)  Gap of Voltage
count   6944.000000    6944.000000                 6944.000000          6944.0
mean   31573.787586  218876.941964                   -0.001257             0.0
std    19078.481246  134544.234505                    0.000079             0.0
min        0.000000       1.000000                   -0.001600             0.0
25%    14851.750000  104135.000000                   -0.001300             0.0
50%    30812.000000  208306.000000                   -0.001200             0.0
75%    48157.250000  354423.000000                   -0.001200             0.0
max    65503.000000  458595.000000                   -0.001000             0.0

In [63]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7643 entries, 2020-10-10 20:03:00 to 2020-10-16 03:25:00
Freq: 60S
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  6944 non-null   float64
 1   Record ID                   6944 non-null   float64
 2   Step Name                   6944 non-null   object
 3   Relative Time(h:min:s.ms)   6944 non-null   object
 4   Realtime                    6944 non-null   object
 5   Auxiliary channel TU1 U(V)  6944 non-null   float64
 6   Gap of Voltage              6944 non-null   float64
 7   time                        6944 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(3)
memory usage: 537.4+ KB

In [64]:
df2.apply(lambda x: len(x.unique()))

Unnamed: 0                    4949
Record ID                     6945
Step Name                        4
Relative Time(h:min:s.ms)     5442
Realtime                      6945
Auxiliary channel TU1 U(V)       6
Gap of Voltage                   2
time                          6945
dtype: int64

In [65]:
df2.isnull().sum()

Unnamed: 0                    699
Record ID                     699
Step Name                     699
Relative Time(h:min:s.ms)     699
Realtime                      699
Auxiliary channel TU1 U(V)    699
Gap of Voltage                699
time                          699
dtype: int64

In [66]:
for col in cat_col:
    print(col)
    print(df2[col].value_counts())
    print()

Step Name
CCCV_Chg     3562
CCCV_DChg    2991
Rest          391
Name: Step Name, dtype: int64

Relative Time(h:min:s.ms)
0:01:38.000    6
0:05:38.000    6
0:00:38.000    6
0:02:38.000    6
0:06:38.000    6
              ..
3:03:53.000    1
0:27:56.000    1
0:17:37.000    1
2:37:22.000    1
2:53:33.000    1
Name: Relative Time(h:min:s.ms), Length: 5441, dtype: int64

Realtime
10-13-2020 16:44:00    1
10-15-2020 20:25:00    1
10-14-2020 03:35:00    1
10-11-2020 17:52:00    1
10-13-2020 05:26:00    1
                      ..
10-15-2020 13:05:00    1
10-12-2020 19:34:00    1
10-12-2020 16:52:00    1
10-12-2020 03:13:00    1
10-11-2020 08:50:00    1
Name: Realtime, Length: 6944, dtype: int64

In [56]:
data = pd.read_csv('detailVol.csv')
def butter_lowpass_filter(data, cutoff, fs, order):
    normal_cutoff = cutoff / nyq
    # Get the filter coefficients 
    b, a = butter(order, normal_cutoff, btype='low', analog=False)
    y = filtfilt(b, a, data)
    return y